<app-navbar></app-navbar>
<div class="abc">
  
    <h5 class="text">Sales Prediction Dashboard</h5>
  
  <main role="main" class="container mt-5">
    <div class="main">
      
    
      <div class="container">
        
          <div class="center">
            
              <div class="run">
                <canvas baseChart class="chart"
                type="line" 
                [data]="chatdata">
                </canvas>
            </div>
           <!-- <div class="Accuracy">
            <p>Metrics</p>
            <pre>{{metrics}}</pre>
        </div>--> 
      </div>  
            
            </div>
            </div>
          </main>
</div>
